@font-face {
  font-family: 'Inter';
  src: local('Inter'), 
  url("./assets/fonts/Inter-Regular.ttf") 
  format('truetype');
}
@font-face {
  font-family: 'InterLight';
  src: local('InterLight'), 
  url("./assets/fonts/Inter-Light.ttf") 
  format('truetype');
}
@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), 
  url("./assets/fonts/Poppins-Regular.ttf") 
  format('truetype');
}

@font-face {
  font-family: 'PoppinsLight';
  src: local('PoppinsLight'), 
  url("./assets/fonts/Poppins-Light.ttf") 
  format('truetype');
}

@font-face {
  font-family: 'PoppinsThin';
  src: local('PoppinsThin'), 
  url("./assets/fonts/Poppins-Thin.ttf") 
  format('truetype');
}

@font-face {
  font-family: 'PoppinsBold';
  src: local('PoppinsBold'), 
  url("./assets/fonts/Poppins-Bold.ttf") 
  format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0rem 0rem;
  padding: 0rem 0rem;

}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Poppins",  'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #C4C4C4;
  background: url(./assets/images/background.png) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
}

#root{
  width: 100%;
  margin: 0;
  padding: 0rem;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0rem;
  padding: 0rem;
}
.flexRow-space-between{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.flexCol {
  display: flex;
  flex-direction: column;
  margin: 0rem;
  padding: 0rem;
}

p{
  margin: 0rem;
  padding: 0rem;
}

@keyframes slideInFromBottom {
  0% {
    transform: translatey(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-35px);
  }
}

.landingPageContainer{
  align-items: center;

  .hideMobile{
    display: none;
  }
  .nav{
  padding: 1rem;
  font-family: Inter;

  .logoDiv{
    img{
      width: 3rem;
    }
  }

  .dateSection{
    color: white;
    gap: 0.5rem;

    .iconDiv{
      img{
        width: 2.75rem;
      }
    }

    .date{
      text-align: left;
      gap: 0.25rem;
      p{
        font-weight: bold;
      }
    }
  }

}

.body{
  gap: 2rem;
  padding: 3rem 1rem;
  color: #fff;
  background-image: url(./assets/images/stars.png);
  background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

  .heading{
    gap: 1.5rem;
    align-items: center;
    // background-image: url(./assets/images/top-stars.png);
    // background-size: contain;
    // background-repeat: no-repeat;

    .title{
      font-size: 2.5rem;
      font-family: Poppins;
      line-height: 1.125;
      animation: slideInFromBottom 1s ease-in;


          span:nth-of-type(1){
            font-family: PoppinsThin;
          }
          span:nth-of-type(2){
            font-family: PoppinsBold;
          }

    }
    p{
      font-size: 1rem;
      font-family: Inter;
      line-height: 1.5;
      width: 80%;
      animation: slideInFromBottom 0.75s ease-in;

    }
  }

  .instructionsDiv{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.39) -213.5%, rgba(255, 255, 255, 0) 100%);
    box-shadow: inset 0px -1px 11px rgba(255, 255, 255, 0.17), inset 0px 2px 0px rgba(255, 255, 255, 0.24);
    border-radius: 8px;
    padding: 2rem 1rem;
    gap: 1rem;
    font-family: Inter;
    text-align: left;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    .title{
      font-weight: bold;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      font-size: 1rem;
    }

    ol{
      padding-left: 1rem;
      text-align: left;
      li{
        font-size: 0.875rem;
        line-height: 1.5;
        gap: 0.5rem;
        font-family: InterLight;
      }
    }

    p{
      font-family: InterLight;
      font-size: 0.875rem;
    }

    .hint{
      background: rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      padding: 1rem;
      font-size: 0.75rem;
      font-family: InterLight;
      gap: 0.25rem;
      align-items: flex-start;
      line-height: 1;

      span:nth-of-type(1){
        padding-top: 0.25rem;
      }
      span:nth-of-type(2){
        line-height: 1.25rem;
      }
    }
  }

  button{
    background: #ECAB03;
    border-radius: 4px;
    color: #fff;
    padding: 1rem 3rem;
    width: fit-content;
    align-items: center;
    gap: 2rem;
    outline: none;
    border: none;
    cursor: pointer;
    align-self: center;
    font-size: 1rem;
    img{
      margin-left: auto;
    }

  }


}

.footer{
  padding: 0rem;
  margin-top: 2rem;
  position: relative;
  width: 100%;
  min-height: 25vh;

  .mainImage{
    width: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
  }

  .floating-image{
    position: absolute;
    bottom: 0;
    width: clamp(7rem, 9vw, 10rem);
  }

  .leftCoin{
    left: 0;
    bottom: 40%;
    animation: MoveUpDown 4s linear infinite;

  }

  .rightCoin{
    right: 0;
    bottom: 30%;
    animation: MoveUpDown 4s linear infinite;

  }
  .sunRays{
    width: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 0;
    object-fit: cover;
  }
}
}

  

@media all and (min-width: 768px){
  .landingPageContainer{
    .hideMobile{
      display: block;
    }
    .showMobile{
      display: none !important;
    }
    .nav{
      padding: 1rem 2rem;
      .logoDiv{
        img{
          width: 4rem;
        }
      }
    }
    .body{
      align-items: center;
      .heading{
        .title{
      width: 80%;
          font-size: 3rem;
        }
        p{
          font-size: 1.5rem;
          padding: 0rem 4rem;
        }
      }
      .instructionsDiv{
      width: 50%;

        .title{
          font-size: 1.5rem;
        }
        ol{
          li{
            font-size: 1rem;
          }
        }
        p{
          font-size: 1rem;
        }
      }
    }

    .footer{
      width: 60%;
    }
  }
}

@media all and (min-width: 991px){
  .landingPageContainer{
    width: 100%;

    .nav{
      padding: 1rem 5rem;
    }
    .body{
      background-size: contain;
      background-position: center;
      .heading{
            background-image: url(./assets/images/top-stars.png);
    background-size: contain;
    background-repeat: no-repeat;
        .title{
          font-size: 3rem;
          width: 100%;
        }
        p{
          font-size: 1rem;
        }
      }
      .instructionsDiv{
        width: 40%;
        .title{
          font-size: 1.5rem;
        }
        ol{
          li{
            font-size: 1rem;
          }
        }
        p{
          font-size: 1rem;
        }
      }
    }

    .footer{
      width: 40%;
    }
  }
}